
<div class="row" *ngFor="let incident of data">
        <div  class="col-md-6">   
    
            <!--Card-->
            <div class="card card-cascade narrower">    
                <!--Card image-->
                <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>             
                    <img style="width:100%; height:500px" src="../assets/img/{{incident.URL}}" class="img-fluid">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->
    
                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title font-bold mb-2"><strong>Reporter</strong></h4>
                    <h5 class="indigo-text"><strong>{{ incident.ReportedBy }}</strong></h5>
                     
                    <h6 class='text-justify'><strong>About :</strong></h6>
                    <p class='text-justify'>{{incident.Comment}}</p>
    
                    <div class="text-right">
                        <a  class="btn btn-outline-primary btn-rounded  btn-sm"  routerLink="/indident-on-map/{{ incident.ID }}">Maps...</a>                      
                    </div>    
                </div>
    
            </div>    
        </div>
    </div>
