<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/tshwane.jpg" class="img-fluid" alt="">
        </a>

        <div class="list-group list-group-flush">

            <a routerLink="incidents" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-pie-chart mr-3"></i>Incidents
            </a>
           
            <a routerLink="maps/map1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-map mr-3"></i>Maps</a>           
        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">
        <!-- Navbar brand -->
        <logo class="ml-3">
            <a class="navbar-brand" href="">
                <strong class="blue-text">Asilungise</strong>
            </a>
        </logo>
    </mdb-navbar>
    <!--/.Navbar-->
</header>
<!--Main Navigation-->