<div class="row">
        <div class="col-md-6">   
    
            <!--Card-->
            <div class="card card-cascade narrower">
    
                <!--Card image-->
                <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
                    <!-- <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" class="img-fluid">
                    -->
                    <img src="../assets/img/incident5.jpg" class="img-fluid">

                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->
    
                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title font-bold mb-2"><strong>Reporter</strong></h4>
                    <h5 class="indigo-text"><strong>Lucas Mabena</strong></h5>
    
                    <h6 class='text-justify'><strong>About :</strong></h6>
                    <p class='text-justify'>The incident was reported in Mamelodi Tsamaya road, by Lucas Mabena</p>
    
                    <div class="text-right">
                        <button type="button" class="btn btn-outline-primary btn-rounded  btn-sm" mdbWavesEffect>More...</button>
                    </div>    
                </div>
    
            </div>    
        </div>
    </div>