
    <div class="col-md-12" style="position:absolute;top:5.5%;left:10.9%;width:90%">   
        <!--Card-->
        <agm-map [zoom]=1000 [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map> 
    </div>

    
